<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

	<param name="robot_description" command="xacro --inorder '$(find cheetah_description)/xacro/mini_cheetah_control.urdf'"/>
<!---->	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model mini_cheetah -param robot_description -z 1">
	</node>
 
   <rosparam file="$(find cheetah_control)/launch/controller/cheetah_control_pos.yaml" command="load"/>


  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mini_chee" args="joint_state_controller FR_hip_position_controller FR_thigh_position_controller FR_calf_position_controller FL_hip_position_controller FL_thigh_position_controller FL_calf_position_controller RL_hip_position_controller RL_thigh_position_controller RL_calf_position_controller RR_hip_position_controller RR_thigh_position_controller RR_calf_position_controller  --timeout 50"/>

	<!-- <node pkg="cheetah_control" name="mtnode" type="control_pos.py" output="screen"> 
	</node> -->
					
</launch>